@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap");

* {
  box-sizing: border-box !important;
}
p {
  margin: 0 !important;
}
.cards {
  gap: 20px 5px;
  padding: 20px 0;
}

.card {
  width: 27rem !important;
}
footer {
  background-color: #8b5a2b;
  padding: 20px 0;
  font-size: larger;
}

form {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

form p {
  padding-top: 25px;
  text-transform: capitalize;
}
form input {
  padding: 5px;
  border-radius: 6px;
}
textarea {
  border-radius: 6px;
  border: 2px solid black;
  height: 110px;
  resize: none;
}
button.submit {
  width: fit-content;
  margin-top: 10px;
  background-color: #734444;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: white;
  text-transform: capitalize;
  transition: 0.3s;
}
button.submit:hover {
  background-color: #73444490;
}
.success-msg {
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  background-color: #c5ffc5;
}
.success-msg p {
  padding: 0;
}
.err-msg {
  border-radius: 30px;

  text-align: center;
  padding: 20px;
  background-color: rgb(255, 148, 148);
}
.err-msg p {
  padding: 0;
}
.err-msg span {
  color: black;
}
